@import "reset.scss";
@import "global.scss";

body {
    background-color: #fff;
}

.main_page {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    width: 100%;
}

.squares {
    position: relative;

    // left: 50%;
    // top: 30%;
    // transform: translate(-50%, -30%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 70vw !important;
    height: 70vw !important;
    max-width: 400px;
    max-height: 400px;
    margin: auto;

    // @include screen-size(landscape) {
    //     left: 5%;
    //     transform: translate(0%, -50%);
    // }
    @include screen-size(landscape) {
        @include screen-size(small) {
            width: 40vw !important;
            height: 40vw !important;
            max-width: 300px;
            max-height: 300px;
        }
    }


    @include screen-size(landscape) {
        @include screen-size(medium) {
            width: 40vw !important;
            height: 40vw !important;
            max-width: 300px;
            max-height: 300px;
        }
    }


    .square {
        border: 1px solid #222;

        // width: 7vw !important;
        // height: 7vw !important;
        // max-width: 40px;
        // max-height: 40px;

        // @include screen-size(landscape) {
        //     @include screen-size(small) {
        //         width: 5vw !important;
        //         height: 5vw !important;
        //         max-width: 20px;
        //         max-height: 20px;
        //     }
        // }

        // @include screen-size(landscape) {
        //     @include screen-size(medium) {
        //         width: 5vw !important;
        //         height: 5vw !important;
        //         max-width: 20px;
        //         max-height: 20px;
        //     }
        // }

        // @media only screen and (orientation: landscape) {
        //     width: 5vw !important;
        //     height: 5vw !important;
        // }
   
    }
}

.binary {
    position: relative;

    // left: 0;
    // right: 0;
    // bottom: 10px;
    width: 50%;
    margin: auto;

    @include screen-size(small) {
        width: 90%;
    }


    // @include screen-size(landscape) {
    //     top: 50%;
    //     bottom: initial;
    //     right: 10px;
    //     left: initial;
    //     width: 50%;
    //     margin: auto;
    //     transform: translate(0%, -50%);
    // }

    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */

    p {
        color: #222;
        font-weight: 900;
        font-size: 1.4rem;

        // padding: 10px;
        display: inline-block;

        // @include screen-size(landscape) {
        //     // padding: 10px;
        // }
   
    }
}
